.content__wrap {
    width: 100%;
}

.card {
    width: 40%;
    margin-bottom: 2%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8%;
}

.content__message {
    padding: 15% 15% 5% 15%;
    font-size: 25px;
}

.content__link {
    text-align: center;
}

.link__btn {
    text-decoration: none;
    font-weight: bold;
    color: #3560f6;
}