.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bank__info {
    font-size: 20px;
}

.bank__info-link {
    text-decoration: none;
    font-weight: bold;
    color: #3560f6;
}

.button {
    text-decoration: none;
    font-weight: bold;
    color: #3560f6;
}